nav {
  background-color: var(--white-color);
  width: 100%;
  padding: 0 2px;
  box-shadow: 0 12px 50px lightgrey;
}

nav > div {
  margin: 0 auto;
  padding: 8px 0;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div > img {
  height: 70px;
  margin-right: auto;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  position: relative;
}

nav ul li:not(:last-child) {
  margin-right: 16px;
}

nav ul li a {
  color: var(--grey-color);
}

nav ul li:hover a {
  color: var(--primary-color);
}

nav ul li a.active {
  color: var(--primary-color-dark);
}

/* ------------------------------- hover menu ------------------------------- */

li.dropdown ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: block;
  min-width: max-content;
  left: 10%;
  top: 30%;
  background-color: var(--primary-color-dark);
  z-index: 100;
  transition: visibility 300ms ease, opacity 300ms ease;
}

li.dropdown:hover > ul,
li.dropdown ul:hover {
  visibility: visible;
  opacity: 1;
  text-align: left;
  box-shadow: var(--card-shadow);
}

li.dropdown ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
  border-style: none;
  color: var(--white-color);
}

li.dropdown ul li a {
  color: var(--white-color);
  opacity: 0.8;
}

li.dropdown ul li a:hover {
  opacity: 1;
}

/* ------------------------------- avatar ------------------------------- */

img.avatar {
  border-radius: 50%;
  margin-right: 12px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* input */

.input-group {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
}

.input-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--primary-color-dark);
  outline: 0;
  font-size: 1.2rem;
  color: var(--grey-color-light);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.input-field::placeholder {
  color: transparent;
}

.input-field:not(:focus) ~ .input-label,
.input-field:placeholder-shown ~ .input-label {
  font-size: 1.2rem;
  cursor: text;
  top: 20px;
}

.input-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--primary-color-dark);
}

.input-field:focus ~ .input-label,
.input-field:not(:placeholder-shown) ~ .input-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

.input-group textarea {
  resize: none;
  position: relative;
  background-color: var(--grey-color-transparent);
  padding: 4px;
}

/* checkbox-group */

.checkbox-group {
  margin: 4px;
  margin-left: 0;
  transition: opacity 0.2s;
}

.checkbox-group * {
  cursor: pointer;
}

.checkbox-group label {
  display: inline-block;
  background-color: var(--grey-color-transparent);
  border: 2px solid var(--grey-color-light);
  color: var(--grey-color-light);
  border-radius: 25px;
  white-space: nowrap;
  transition: all 0.2s;
}

.checkbox-group label {
  padding: 3px 12px;
  padding-left: 8px;
  display: flex;
  align-items: center;
}

.checkbox-group i {
  font-size: 16px;
  font-weight: 900;
  padding-right: 5px;
  padding-left: 0;
}

.checkbox-group input:checked ~ label i.add {
  display: none;
}

.checkbox-group input:not(:checked) ~ label i.check {
  display: none;
}

.checkbox-group input[type="checkbox"]:checked + label {
  border: 2px solid var(--primary-color-dark);
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: all 0.2s;
}

.checkbox-group input[type="checkbox"] {
  display: absolute;
}
.checkbox-group input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/* select-input */

select {
  min-width: 120px;
  padding: 8px 2px;
  background-color: var(--grey-color-transparent);
  border: none;
  border-bottom: 2px solid var(--primary-color-dark);
  outline: none;
  font-size: 16px;
}

select option[value="placeholder"] {
  color: var(--primary-color-dark);
  font-weight: 600;
}

/* modal */

a.modal-open-btn {
  text-decoration: none;
}

.modal-wrapper {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

a.modal-background {
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(77, 77, 77, 0.7);
  opacity: 0;
  visibility: hidden;
  cursor: auto;
  z-index: 90;
}

.modal-wrapper:target a.modal-background {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper:target {
  visibility: visible;
  opacity: 1;
}

.modal {
  border-radius: 4px;
  position: relative;
  width: 700px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
  z-index: 100;
}

.modal h1 {
  text-align: center;
  margin-bottom: 24px;
}

.modal input[type="submit"] {
  margin: 12px auto;
  margin-bottom: 0;
}

a.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
  z-index: 110;
}

/* sectors-modal */

.sectors-modal form > div {
  align-items: baseline;
}

.sectors-modal .input-group {
  max-width: 100px;
}

/* add-question-modal */

.question-modal .top,
.question-modal .right,
.question-modal .left {
  display: flex;
  justify-content: space-between;
}

.question-modal .top > * {
  flex-direction: column;
  width: 200px;
}

.question-modal .top > div > * {
  margin-bottom: 10px;
}

/* quetion-block */

.question-wrapper {
  box-shadow: var(--card-shadow);
  padding: 12px;
  padding-bottom: 6px;
  background: var(--white-color);
  border-radius: 5px;
  margin: 0 auto;
  min-height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.question-wrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.question-wrapper p {
  margin: 14px 0;
}

.question-wrapper > div:last-child {
  text-align: center;
  margin-top: auto;
}

.question-wrapper > div:last-child > h5 {
  display: flex;
  align-items: center;
}

.question-wrapper > div:last-child > h5 > strong {
  margin: 0 4px;
}

.question-wrapper .level {
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 2px;
  border-radius: 9999px;
  background-color: var(--primary-color);
}

.question-wrapper .level.easy {
  background-color: var(--tertiary-color);
}

.question-wrapper .level.medium {
  background-color: var(--secondary-color);
}

.question-wrapper i {
  cursor: pointer;
}

/* Text */

h1,
h2 {
  color: var(--grey-color);
  font-size: 38px;
}

h2 {
  font-size: 24px;
}

h3 {
  color: var(--grey-color);
}

h4 {
  color: var(--primary-color-dark);
}

h5 {
  color: var(--grey-color-light);
  font-size: 13px;
  font-weight: 400;
}

h6 {
  color: var(--grey-color);
  opacity: 0.8;
  font-weight: 500;
}

p {
  color: var(--grey-color);
  font-weight: 400;
}

/* container */

.container {
  width: 100%;
  max-width: 850px;
  margin: 80px auto;
  padding: 0 8px;
}

.container .question-wrapper {
  margin: 36px 0;
}

.container .buttons-wrapper {
  display: flex;
}

.container .buttons-wrapper a {
  flex: 1;
}

.container .buttons-wrapper a:not(:last-child) {
  margin-right: 12px;
}

.container .filters-wrapper form {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .filters-wrapper form > * {
  margin-bottom: 18px;
}

/* options menu */

div.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.dropdown button {
  background-color: transparent;
  color: var(--grey-color);
  border: 0;
  border-radius: 9999px;
  cursor: pointer;
}

div.dropdown button::after {
  content: "\2807";
  font-size: 20px;
}

div.dropdown ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 160px;
  padding: 8px 0;
  right: 0;
  top: 0;
  background-color: var(--white-color);
  box-shadow: var(--card-shadow);
  transition: visibility 300ms ease, opacity 300ms ease;
}

div.dropdown button:focus + ul {
  visibility: visible;
  opacity: 1;
}

div.dropdown li {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grey-color);
  padding: 10px 8px;
  cursor: pointer;
}

div.dropdown li:hover {
  background-color: var(--grey-color-transparent);
}

div.dropdown li i {
  font-size: 20px;
}

div.dropdown li:last-child {
  border-top: 1px solid var(--grey-color-transparent);
}

/* buttons */

.btn,
.btn-secondary {
  background-color: var(--primary-color-dark);
  border: none;
  outline: none;
  border-radius: 9999px;
  padding: 10px 24px;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.1px;
}

.btn i {
  margin-right: 5px;
}

.btn-secondary {
  border-radius: 8px;
  color: var(--primary-color-dark);
  padding: 24px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid var(--primary-color-dark);
  transition: all 300ms ease;
  width: 100%;
}

.btn-secondary:hover {
  background-color: var(--primary-color-dark);
  color: var(--white-color);
}

/* card */

.card {
  box-shadow: var(--card-shadow);
  padding: 12px;
  background: var(--white-color);
  border-radius: 5px;
  margin: 5em auto;
  width: 100%;
  max-width: 160px;
  display: flex;
  flex-direction: column;
}

/* subject-card */

.subject-card {
  margin: 16px auto;
  width: 100%;
  max-width: 250px;
}

/* divider */

.divider {
  width: 100%;
  height: 1px;
  margin: 12px 0;
  border-radius: 9999px;
  background-color: var(--grey-color-transparent);
}

.divider.vertical {
  width: 1px;
  height: 100%;
  min-height: 200px;
  margin: 0 16px;
}

/* text-block */

.text-block {
  font-size: 16px;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 2px 12px;
  margin: 3px;
  margin-left: 0;
  border-radius: 9999px;
  display: flex;
}

.text-block.dark {
  padding: 0 16px;
  background-color: var(--grey-color);
}

.btn-close {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.text-block i {
  background-color: var(--grey-color);
  color: var(--white-color);
  border-radius: 9999px;
  font-size: 14px;
  padding: 2px;
  margin-left: 8px;
  margin-right: -8px;
}

/* styles */

.flex-1 {
  flex: 1;
}

.flex {
  display: flex;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.m-vertical {
  margin: 16px 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
